# ---------------------
# Java / Maven
# ---------------------
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven target folder
/target/

# ---------------------
# Logs and temp
# ---------------------
*.log
hs_err_pid*
replay_pid*
.mtj.tmp/

# ---------------------
# IDE
# ---------------------
/.idea/
/*.iml

# ---------------------
# Configuration
# ---------------------
# шаблон мы храним, а реальный — нет
/src/main/resources/config.properties


