<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Финансовый мониторинг</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/site.webmanifest">

</head>
<body>

<div id="navbar"></div>
<div class="container mt-5">
<h2>Дашборды</h2>
    <br>

    <!-- Панель переключения дашбордов -->
    <div class="btn-group mb-4 w-100" role="group" id="dashboardButtons">
        <button type="button" class="btn btn-outline-primary active" data-frame="frame1">Количество транзакций</button>
        <button type="button" class="btn btn-outline-primary" data-frame="frame2">Тип транзакций</button>
        <button type="button" class="btn btn-outline-primary" data-frame="frame3">Поступления/Расходы</button>
        <button type="button" class="btn btn-outline-primary" data-frame="frame4">Статусы транзакций</button>
        <button type="button" class="btn btn-outline-primary" data-frame="frame5">Банки</button>
        <button type="button" class="btn btn-outline-primary" data-frame="frame6">Категории</button>
    </div>

    <!-- Дашборд 1 -->
    <div id="frame1" class="dashboard-frame active">
        <h3 class="text-center">Динамика по количеству транзакций</h3>
        <br>
        <button id="download-transaction-count" class="btn btn-primary">Скачать в PDF</button>
        <div class="d-flex justify-content-center mb-4">
            <button id="weekBtn" class="btn btn-outline-primary mx-2">Неделя</button>
            <button id="monthBtn" class="btn btn-outline-primary mx-2">Месяц</button>
            <button id="quarterBtn" class="btn btn-outline-primary mx-2">Квартал</button>
            <button id="yearBtn" class="btn btn-outline-primary mx-2">Год</button>
        </div>
        <canvas id="transactionChart"></canvas>
    </div>

    <!-- Дашборд 2 -->
        <div id="frame2" class="dashboard-frame">
            <h2 class="text-center">Динамика по типу транзакции</h2>
            <br>
            <button id="download-debit-credit" class="btn btn-primary">Скачать в PDF</button>
            <div class="d-flex justify-content-center mb-4">
                <button id="type-weekBtn" class="btn btn-outline-primary mx-2">Неделя</button>
                <button id="type-monthBtn" class="btn btn-outline-primary mx-2 active">Месяц</button>
                <button id="type-quarterBtn" class="btn btn-outline-primary mx-2">Квартал</button>
                <button id="type-yearBtn" class="btn btn-outline-primary mx-2">Год</button>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-center">Дебет (Списания)</h5>
                    <canvas id="debitChart"></canvas>
                </div>
                <div class="col-md-6">
                    <h5 class="text-center">Кредит (Поступления)</h5>
                    <canvas id="creditChart"></canvas>
                </div>
            </div>
        </div>

    <!-- Дашборд 3 -->
    <div id="frame3" class="dashboard-frame">
        <h3 class="text-center">Сравнение поступлений и расходов</h3>
        <br>
        <button id="download-income-expense" class="btn btn-primary">Скачать в PDF</button>
        <div class="row">
            <div class="col-md-6">
                <canvas id="incomeExpenseBarChart"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="incomeExpensePieChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Дашборд 4 -->
    <div id="frame4" class="dashboard-frame">
        <h3 class="text-center">Статистика по статусам транзакций</h3>
        <br>
        <button id="download-status" class="btn btn-primary">Скачать в PDF</button>
        <canvas id="statusPieChart"></canvas>
    </div>

    <!-- Дашборд 5 -->
    <div id="frame5" class="dashboard-frame">
        <h3 class="text-center">Статистика по банкам</h3>
        <br>
        <button id="download-banks" class="btn btn-primary">Скачать в PDF</button>
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-center">Отправители</h5>
                <canvas id="senderBanksChart"></canvas>
            </div>
            <div class="col-md-6">
                <h5 class="text-center">Получатели</h5>
                <canvas id="receiverBanksChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Дашборд 6 -->
    <div id="frame6" class="dashboard-frame">
        <h3 class="text-center">Статистика по категориям</h3>
        <br>
        <button id="download-categories" class="btn btn-primary">Скачать в PDF</button>
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-center">Расходы</h5>
                <canvas id="expenseCategoriesChart"></canvas>
            </div>
            <div class="col-md-6">
                <h5 class="text-center">Поступления</h5>
                <canvas id="incomeCategoriesChart"></canvas>
            </div>
        </div>
    </div>


    <script>
    const ctx = document.getElementById('transactionChart').getContext('2d');

    let chart = new Chart(ctx, {
        type: 'line', // Тип графика
        data: {
            labels: [], // Метки для оси X (временные интервалы)
            datasets: [{
                label: 'Количество транзакций',
                data: [], // Данные для оси Y (количество транзакций)
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            }]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Временные периоды'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Количество транзакций'
                    },
                    beginAtZero: true
                }
            }
        }
    });

    async function fetchTransactionData(period) {
        try {
            const response = await fetch(`/api/transactions_count?period=${period}`, {
                credentials: "include"
            });
            
            if (!response.ok) {
                throw new Error('Ошибка при загрузке данных');
            }
            
            const data = await response.json();
            const labels = data.map(point => point.x);
            const values = data.map(point => point.y);

            chart.data.labels = labels;
            chart.data.datasets[0].data = values;
            chart.update();
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка при загрузке данных');
        }
    }

    document.getElementById('weekBtn').addEventListener('click', () => fetchTransactionData('W'));
    document.getElementById('monthBtn').addEventListener('click', () => fetchTransactionData('M'));
    document.getElementById('quarterBtn').addEventListener('click', () => fetchTransactionData('Q'));
    document.getElementById('yearBtn').addEventListener('click', () => fetchTransactionData('Y'));

    fetchTransactionData('M');
         const debitCtx = document.getElementById('debitChart').getContext('2d');
    const creditCtx = document.getElementById('creditChart').getContext('2d');

    const debitChart = new Chart(debitCtx, {
        type: 'line',
        data: {
            labels: [], // Подписи по оси X
            datasets: [{
                label: 'Дебет',
                data: [],   // Данные для дебета
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                fill: true,
                tension: 0.3
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: { title: { display: true, text: 'Период' } },
                y: { title: { display: true, text: 'Сумма' }, beginAtZero: true }
            }
        }
    });

    const creditChart = new Chart(creditCtx, {
        type: 'line',
        data: {
            labels: [], // Подписи по оси X
            datasets: [{
                label: 'Кредит',
                data: [],   // Данные для кредита
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                fill: true,
                tension: 0.3
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: { title: { display: true, text: 'Период' } },
                y: { title: { display: true, text: 'Сумма' }, beginAtZero: true }
            }
        }
    });

   async function fetchDebitCreditData(period) {
        try {
            const response = await fetch(`/api/transactions/sum_by_type?period=${period}`, {
                credentials: "include"
            });
            
            if (!response.ok) {
                throw new Error('Ошибка при загрузке данных');
            }
            
            const result = await response.json();
            const labels = result.map(point => point.x);
            const debitValues = result.map(point => point.debit || 0);
            const creditValues = result.map(point => point.credit || 0);

            debitChart.data.labels = labels;
            debitChart.data.datasets[0].data = debitValues;
            debitChart.update();

            creditChart.data.labels = labels;
            creditChart.data.datasets[0].data = creditValues;
            creditChart.update();
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка при загрузке данных');
        }
    }

    document.getElementById('type-weekBtn').addEventListener('click', () => fetchDebitCreditData('W'));
    document.getElementById('type-monthBtn').addEventListener('click', () => fetchDebitCreditData('M'));
    document.getElementById('type-quarterBtn').addEventListener('click', () => fetchDebitCreditData('Q'));
    document.getElementById('type-yearBtn').addEventListener('click', () => fetchDebitCreditData('Y'));

    fetchDebitCreditData('M');
          const incomeExpenseBarCtx = document.getElementById('incomeExpenseBarChart').getContext('2d');
    const incomeExpenseBarChart = new Chart(incomeExpenseBarCtx, {
        type: 'bar',
        data: {
            labels: ['Поступления', 'Расходы'],
            datasets: [{
                label: 'Сумма (₽)',
                data: [], // Заглушки
                backgroundColor: ['rgba(54, 162, 235, 0.7)', 'rgba(255, 99, 132, 0.7)'],
                borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Сравнение поступлений и расходов'
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Сумма в рублях'
                    }
                }
            }
        }
    });

    const incomeExpensePieCtx = document.getElementById('incomeExpensePieChart').getContext('2d');
    const incomeExpensePieChart = new Chart(incomeExpensePieCtx, {
        type: 'doughnut',
        data: {
            labels: ['Поступления', 'Расходы'],
            datasets: [{
                data: [],
                backgroundColor: ['rgba(75, 192, 192, 0.6)', 'rgba(255, 159, 64, 0.6)'],
                borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 159, 64, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Профицит / Дефицит'
                }
            }
        }
    });

   async function fetchIncomeExpenseData() {
        try {
            const response = await fetch('/api/transactions/income_expense', {
                credentials: "include"
            });
            
            if (!response.ok) {
                throw new Error('Ошибка при загрузке данных');
            }
            
            const data = await response.json();
            // Update income expense charts
            updateIncomeExpenseCharts(data);
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка при загрузке данных');
        }
    }

    fetchIncomeExpenseData();
         const statusPieCtx = document.getElementById('statusPieChart').getContext('2d');
    const statusPieChart = new Chart(statusPieCtx, {
        type: 'doughnut',
        data: {
            labels: ['Новая', 'Подтвержденная', 'В обработке', 'Платеж выполнен', 'Платеж удален', 'Возврат', 'Отменена'],
            datasets: [{
                data: [],
                backgroundColor: ['rgba(75, 192, 192, 0.6)', 'rgba(255, 99, 132, 0.6)', 'rgba(255, 159, 64, 0.6)'],
                borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 159, 64, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Статистика по статусам транзакций'
                }
            }
        }
    });

    async function fetchStatusData() {
        try {
            const response = await fetch('/api/transactions/status_stats', {
                credentials: "include"
            });
            
            if (!response.ok) {
                throw new Error('Ошибка при загрузке данных');
            }
            
            const data = await response.json();
            // Update status chart
            updateStatusChart(data);
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка при загрузке данных');
        }
    }

    fetchStatusData();
         const senderBanksCtx = document.getElementById('senderBanksChart').getContext('2d');
    const receiverBanksCtx = document.getElementById('receiverBanksChart').getContext('2d');

    const senderBanksChart = new Chart(senderBanksCtx, {
        type: 'bar', // Столбчатая диаграмма
        data: {
            labels: [], // Метки (названия банков)
            datasets: [{
                label: 'Количество транзакций (Отправители)',
                data: [], // Данные для количества транзакций
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Банки'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Количество транзакций'
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const receiverBanksChart = new Chart(receiverBanksCtx, {
        type: 'bar', // Столбчатая диаграмма
        data: {
            labels: [], // Метки (названия банков)
            datasets: [{
                label: 'Количество транзакций (Получатели)',
                data: [], // Данные для количества транзакций
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Банки'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Количество транзакций'
                    },
                    beginAtZero: true
                }
            }
        }
    });

async function fetchBanksData() {
    try {
        const response = await fetch('/api/transactions/banks_stats', {
            credentials: "include"
        });
        
        if (!response.ok) {
            throw new Error('Ошибка при загрузке данных');
        }
        
        const data = await response.json();
        // Update banks charts
        updateBanksCharts(data);
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Ошибка при загрузке данных');
    }
}

    function sortChartData(chart) {
        const sortedData = chart.data.labels
            .map((label, index) => ({ label, value: chart.data.datasets[0].data[index] }))
            .sort((a, b) => b.value - a.value); // Сортируем по убыванию

        chart.data.labels = sortedData.map(item => item.label);
        chart.data.datasets[0].data = sortedData.map(item => item.value);
    }

    fetchBanksData();
         const expenseCategoriesCtx = document.getElementById('expenseCategoriesChart').getContext('2d');
    const incomeCategoriesCtx = document.getElementById('incomeCategoriesChart').getContext('2d');

    const expenseCategoriesChart = new Chart(expenseCategoriesCtx, {
        type: 'doughnut', // Круговая диаграмма
        data: {
            labels: [],
            datasets: [{
                label: 'Категории расходов',
                data: [],
                backgroundColor: ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(75, 192, 192, 0.6)'],
                borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(75, 192, 192, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            onClick: (event, elements) => {
                if (elements.length > 0) {
                    const index = elements[0].index;
                    showCategoryDetails('expense', index);
                }
            }
        }
    });

async function fetchCategoriesData() {
    try {
        const response = await fetch('/api/transactions/categories_stats', {
            credentials: "include"
        });
        
        if (!response.ok) {
            throw new Error('Ошибка при загрузке данных');
        }
        
        const data = await response.json();
        // Update categories charts
        updateCategoriesCharts(data);
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Ошибка при загрузке данных');
    }
}
fetchCategoriesData();
    const incomeCategoriesChart = new Chart(incomeCategoriesCtx, {
        type: 'doughnut', // Круговая диаграмма
        data: {
            labels: [],
            datasets: [{
                label: 'Категории поступлений',
                data: [],
                backgroundColor: ['rgba(255, 159, 64, 0.6)', 'rgba(153, 102, 255, 0.6)', 'rgba(255, 205, 86, 0.6)'],
                borderColor: ['rgba(255, 159, 64, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 205, 86, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            onClick: (event, elements) => {
                if (elements.length > 0) {
                    const index = elements[0].index;
                    showCategoryDetails('income', index);
                }
            }
        }
    });

    function showCategoryDetails(type, index) {
        let categoryName = '';
        let categoryData = [];

        if (type === 'expense') {
            categoryName = `Категория расходов ${index + 1}`;
            categoryData = [];
        } else if (type === 'income') {
            categoryName = `Категория поступлений ${index + 1}`;
            categoryData = [];
        }

        const categoryDetailsText = `Вы выбрали ${categoryName}. Подробная информация: сумма ${categoryData[index]}`;
        document.getElementById('categoryDetailsText').innerText = categoryDetailsText;
    }

    function fetchCategoryData() {
        expenseCategoriesChart.update();
        incomeCategoriesChart.update();
    }

    fetchCategoryData();

        document.querySelectorAll('#dashboardButtons button').forEach(button => {
            button.addEventListener('click', () => {
                document.querySelectorAll('.dashboard-frame').forEach(frame => frame.classList.remove('active'));
                document.querySelectorAll('#dashboardButtons button').forEach(btn => btn.classList.remove('active'));

                const targetFrameId = button.getAttribute('data-frame');
                document.getElementById(targetFrameId).classList.add('active');
                button.classList.add('active');
            });
        });

        document.getElementById('frame1').classList.add('active');

    document.getElementById("download-debit-credit").addEventListener("click", () => {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    doc.text("Тип транзакций: дебет/кредит", 10, 10);

    // Используем html2canvas для захвата графиков
    html2canvas(document.getElementById("debitChart")).then((canvas) => {
        const debitChartImage = canvas.toDataURL("image/png");
        doc.addImage(debitChartImage, "PNG", 10, 20, 180, 100); // График дебетовых транзакций
    });

    html2canvas(document.getElementById("creditChart")).then((canvas) => {
        const creditChartImage = canvas.toDataURL("image/png");
        doc.addImage(creditChartImage, "PNG", 10, 130, 180, 100); // График кредитовых транзакций
        doc.save("debit-credit.pdf");
    });
});

document.getElementById("download-income-expense").addEventListener("click", () => {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    doc.text("Поступления / Расходы", 10, 10);

    // Захватываем изображения для бар и pie графиков
    html2canvas(document.getElementById("incomeExpenseBarChart")).then((canvas) => {
        const barChartImage = canvas.toDataURL("image/png");
        doc.addImage(barChartImage, "PNG", 10, 20, 180, 100); // Бар график
    });

    html2canvas(document.getElementById("incomeExpensePieChart")).then((canvas) => {
        const pieChartImage = canvas.toDataURL("image/png");
        doc.addImage(pieChartImage, "PNG", 10, 130, 180, 100); // Pie график
        doc.save("income-expense.pdf");
    });
});

document.getElementById("download-status").addEventListener("click", () => {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    doc.text("Статусы транзакций", 10, 10);

    // Захватываем pie график
    html2canvas(document.getElementById("statusPieChart")).then((canvas) => {
        const pieChartImage = canvas.toDataURL("image/png");
        doc.addImage(pieChartImage, "PNG", 10, 20, 180, 100); // Pie график
        doc.save("status-transactions.pdf");
    });
});

document.getElementById("download-banks").addEventListener("click", () => {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    doc.text("Банки отправители / получатели", 10, 10);

    // Захватываем изображения для графиков банков
    html2canvas(document.getElementById("senderBanksChart")).then((canvas) => {
        const senderChartImage = canvas.toDataURL("image/png");
        doc.addImage(senderChartImage, "PNG", 10, 20, 180, 100); // График банков отправителей
    });

    html2canvas(document.getElementById("receiverBanksChart")).then((canvas) => {
        const receiverChartImage = canvas.toDataURL("image/png");
        doc.addImage(receiverChartImage, "PNG", 10, 130, 180, 100); // График банков получателей
        doc.save("banks-transactions.pdf");
    });
});

document.getElementById("download-categories").addEventListener("click", () => {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    doc.text("Категории транзакций", 10, 10);

    // Захватываем изображения для графиков категорий
    html2canvas(document.getElementById("expenseCategoriesChart")).then((canvas) => {
        const expenseChartImage = canvas.toDataURL("image/png");
        doc.addImage(expenseChartImage, "PNG", 10, 20, 180, 100); // График категорий расходов
    });

    html2canvas(document.getElementById("incomeCategoriesChart")).then((canvas) => {
        const incomeChartImage = canvas.toDataURL("image/png");
        doc.addImage(incomeChartImage, "PNG", 10, 130, 180, 100); // График категорий доходов
        doc.save("categories-transactions.pdf");
    });
});
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function() {
          $("#navbar").load("navbar.html");
        });
    </script>

</div>
</body>
</html>